@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

.card_container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 629px;
    height: 379px;

    background: linear-gradient(142.32deg, rgba(255, 253, 253, 0.6) 18.07%, rgba(255, 255, 255, 0.1) 97.39%);
    box-shadow: 0px 4px 25px rgba(140, 140, 140, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 38px;

    margin-right: 41px;
    margin-left: 41px;

}

.imagem{
    width: 250px;
    height: 270px;


    background: #D9D9D9;
    border-radius: 10px;
}

.atributos{
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.p{
    font-family: 'Kadwa';
    font-weight: 400;
    font-size: 30px;
}

.buttonAdotar{
    font-family: 'Kadwa';
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;

    width: 135px;
    height: 53px;

    background: #473C33;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.adicionar{
    cursor: pointer;
}

.img_button{
    display: flex;
}

/* ------------ MODAL ------------ */

.cardModal_container{
/*  display: flex;
    justify-content: center;
    align-items: center;*/

    width: 100%;
    max-width: 800px;
    min-height: 500px;
    padding: 10px;
 
    box-sizing: border-box;
    border: none;
    outline: none;
    
    background: linear-gradient(142.32deg, rgba(125, 125, 125, 0.6) 18.07%, rgba(0, 0, 0, 0.1) 97.39%);
    box-shadow: 0px 4px 25px rgba(140, 140, 140, 0.25);
    backdrop-filter: blur(5px);

    border-radius: 38px;
    
}

.modal__overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    
}

.modal_container{  
    display: flex;
    align-items: center;
    flex-direction: row; 


   margin-left: 40px;
    margin-top: 0px;
    border: none;
}
  
.imagemModal{
    width: 400px;
    height: 400px;

    background: #D9D9D9;
    margin-right: 50px;
}

.atributosModal{
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.pModal{
    font-family: 'Kadwa';
    font-weight: 400;
    font-size: 20px;

    margin: 10px;
}

.closeModal{
    display: flex;
    justify-content: end;

    cursor: pointer;
}