* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-image: url(../../assets/fundoHome.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 150px;
  height: 150px;
}

button {
  color: #d4d4d4;
  border-radius: 20px;
  padding: 5px 15px;
  /*shorthand: top/right/botton/left */
  border: none;

}

a {
  color: inherit;
  text-decoration: none
}

.navBar {
  height: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.itemNav {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  padding: 5%;
}

.content {
  margin-top: 10%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80vh;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 96px;
  text-transform: uppercase;
  color: #E6AD4A;
  text-shadow: 1px 1px 2px black;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */