@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lato:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 350px;
    background-color: #473C33;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;

}

.contato {
    position: absolute;
    margin-bottom: 400px;
    width: 384px;
    height: 60px;
    background: #E6AD4A;
    box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.699);
}

.contatoh {
    text-align: center;
    margin-top: 10px;
}

.register {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    align-items: center;
    background-color: #2D6188;
    border-radius: 10px;
    height: 110px;
}

.subscribe {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    /* align-items: center; */
    background-color: #fff;
    border-radius: 10px;
    width: 60%;
    height: 70px;
}

.email {
    margin-top: auto;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #99A2A5;
}

.button {
    background-color: #003459;
    width: 150px;
    height: 50px;
    border-radius: 8px;
}

.navigations {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin-top: 25px;
    border-bottom: 1px solid #fff ;
}
.icons {
    display: flex;
    flex-direction: row;

    width: 200px;
    justify-content: space-between;
}

.itemNav {
    display: flex;
    justify-content:space-between ;
    flex-direction: row;
    font-family: 'Lato';
    width: 400px;
}

.infos{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    height: 100px;
}

.logo{
    width: 150px;
    height: 150px;
}

.terms{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}