.main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
}

.lateral {
    width: 25%;
    background-color: #ABC270;
}
.logo{
    margin-top: 30px;
    width: 70%;
}

.filter{
    /* background-color: red; */
}


























.section_container {

    background: #FEC868;
    /*height: 100vh;*/
    min-height: calc(100vh - 80px);
    width: auto;

    margin: 0;



}

.text {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 72px;
    margin: 0px;
}

.textSpan {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 72px;
}

.select_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select {
    width: 155px;
    height: 38px;
    margin: 10px;

    background: #FDA769;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.section_card {
    display: flex;
    justify-content: center;

    margin: 15px;
}