@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Lato:wght@700&display=swap');

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ABC270;
}

.contato {
    width: 300px;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #00E2CE;
    box-shadow: -15px 15px 20px rgba(0, 0, 0, 0.699);
}


.render {
    margin-top: 10%;
    background-color: #2F648C;
    display: flex;
    flex-direction: row;
    width: 65%;
    height: max-content;
}

.list {
    width: 30%;
}

.info {
    width: 70%;
    margin-top: 6%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.topics {
    color: #ffffff;
    font-family: 'Lato';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.result {
    text-align: center;
    width: 83%;
    color: #ffff;
    font-family: 'Lato';
    font-size: 13px;
}